html, body, #root {
  background: #484848;
  color:#dfdfdf;
  height:90%;
}

.App {  
  margin:0 auto;
  text-align: center;
  height:90%;
}

.header {
  margin:30px;
  margin-bottom: 0;
  background:#232323;
  
  padding:20px 0;
}

.container {
  display: flex;
  margin:0 30px;
  border:1px solid #232323;
  height:90%;
}